.App {
  text-align: center;
}

.App-header {
  position: relative;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.konfio-logo {
  height: 80px;
}

.circle-background {
  position: absolute;
  top: 20%;
  left: -10%;
  width: 150vw;
  height: 150vw;
  background-color: rgb(158, 50, 158);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.columns {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  flex: 1;
  padding: 20px;
}

.column:first-child {
  border-right: 1px solid #ccc;
}

.welcome-text {
  font-size: 4em;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.welcome-text span {
  color: rgb(158, 50, 158);
}

.welcome-subtitle {
  font-size: 2em;
  color: white;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.welcome-description {
  font-size: 1.5em;
  color: white;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}